@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');


/*GENERIQUE*/
* {
    font-family: "Raleway", "sans-serif";
    color: #242424;
}

body {
    margin-left: 42px;
    margin-right: 36px;
}

main {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

h3 {
    font-weight: 700;
}



/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

span {
    font-weight: bold;
}

nav a {
    width: auto;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin: 0px;
}

nav li {
    display: flex;
    align-items: center;
    padding: 30px;
    border-top: 3px solid transparent;
}

nav li:hover {
    border-top: solid #0065FC;
    color: #0065FC;
}

.logo {
    display: flex;
    align-self: center;
    height: 40px;
}



/* TITLE */
#title {
    font-size: small;
    display: block;
}

h1 {
    font-size: x-large;
    display: flex;
}

h2 {
    font-size: initial;
    font-weight: 500;
    margin-bottom: 20px;
}

h1+h2 {
    display: flex;
}

/*SEARCH BAR */
.search-form {
    width: 100%;
    padding-bottom: 2%;
}

input::placeholder {
    color: #141414;
}

.search-form form i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(212 212 212 / 34%);
    width: 50px;
    object-fit: contain;
    font-size: x-large;
    color: #2f2f2f;
}

.search-form form input {
    padding-left: 20px;
    border: 1px solid rgb(241, 240, 240);
    border-left: transparent;
    font-weight: bold;
    font-size: large;
    width: 270px;
}

.search-form form button {
    border: transparent;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    color: aliceblue;
    width: 132px;
    font-size: large;
}

.search-form form {
    display: flex;
    width: 100%;
    height: 60px
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

/* FILTER */
#filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


#filters>p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#filters li {
    display: inline-block;
    margin: 0;

}

#filters li span {
    display: flex;
    border: 2px solid #9d9d9d4f;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
    opacity: 1.02;
}

#filters li a {
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: #343434;
    font-weight: bold;
}

#filters li i {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    border-radius: 30px;
    color: #0065FC;
}

#filters ul li span:hover {
    background-color: #0065fc8c;
    transform: scale(1.01);
}


/* INFORMATION */
#information  {
    display: flex;
    flex-direction: row;
}

#information ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0;
    width: 100%;

}

#information > ul > li i{
    height: 26px;
    width: 26px;
    border: solid 3px rgb(241, 240, 240);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    color: #0065FC;
    font-weight: 800;
    font-size: medium
}

#information ul li {
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 10px;
}

/* ACCOMODATION */
#accomodation {
    display: flex;
    margin: 0 -10px;
}
#accomodation > section,
#accomodation > aside {
    padding: 0 20px;
}
#accomodation > section {
    width: 70%;
    padding-left: 0;
}
#accomodation > aside {
    width: 30%;
}

.accomodation {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(207, 207, 207, 0.641);
    border-radius: 20px;
    padding: 20px;
}
.accomodation .column {
    flex-direction: column;
}
.accomodation .column .c-card__media {
    width: 100%;
}

.accomodation__title {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
}
.accomodation__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.accomodation__content > div {
    width: 30%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.accomodation__cta {
    font-weight: bold;
    border: transparent;
    background-color: rgb(237 222 222 / 64%);
}
.lowPrice {
    font-weight: bold;
}

/* ACCOMODATION INLINE*/
.accomodation.accomodation--inline .accomodation__content {
    flex-direction: column;
    margin: 0;
    height: 700px;
    justify-content: space-between;
}
.accomodation.accomodation--inline .accomodation__content > div {
    width: 100%;
    padding: 0;
    height: 185px;
}

aside .card__content {
    padding-left: 5px;
    padding-right: 0;
}

aside .card__text {
    padding-bottom: 30px;
}

.fa-chart-line {
    color: #0065FC;
}

/* cards */
.card {
    border-radius: 20px;
    padding: 8px;
    background-color: white;
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.2);
}
.card__media {
    display: block;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 170px;
}
.card__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__content {
    padding: 10px;
}
.card__title,
.card__text {
    display: block;
    margin-bottom: 10px;
}
.card__title {
    
    font-weight: 700;
}
.card__text {
    font-size: 15px;
    font-weight: 500;
}

.card__content {
    margin: 10px;
}


/* CARD INLINE */
.card.card--inline {
    display: flex;
    
}
.card.card--inline .card__media {
    border-radius: 20px 0 0 20px;
    width: 100px;
    height: auto;
}

aside .card__content {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
}



/* STARS */
.stars .fa-solid.blue {
    color: #0065FC;
}

.stars .fa-solid.grey {
    color: #6d6d6d;
}

aside .card__content .stars {
    position: bottom;
}
/* ACTIVITIES */
#activities {
    width: 100%;
}  

#activities section {
    display: block;
}

.activities {
    display: flex;
    width: 100%;
}

.activity__content {
    display: flex;
    width: 100%;
}

.activity__content > div {
    width: 25%;
    margin: 0 50px 40px 0;
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    
}

.accomodation__title {
    font-weight: 700;
    
}

.activity__content  a {
    height: 100%;
}

.activity__content .card__media {
    height: 85%;
}

.activity__title {
    margin-top: 40px;
}


/* FOOTER */
footer {
    display: flex;
    background-color: lightgrey;
    flex-direction: row;
    justify-content: space-around;
}

footer ul {
    margin-right: 10px;
}

footer li {
    padding: 5px;
}

footer ul li h3 {
    font-weight: bold;
}

@media (max-width: 1025px) {
    .fa-solid.fa-magnifying-glass {
        display: none;
    }
    #accomodation {
        display: block;
    }
    .accomodation.accomodation--inline .accomodation__content {
        flex-direction: row;
        height: auto;
        justify-content: center;
    }
    #accomodation section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    #accomodation  aside {
        width: 100%;
        padding-left: 0;
        margin-top: 50px;
    }
    .accomodation.accomodation--inline {
        flex-wrap: unset;
        flex-direction: column;
        height: 300px;
    }
    aside .accomodation__content  div a {
        height: 140px;
        width: 230px;
    }
    .accomodation__content > div {
        padding: 0px 10px;
    }    
    aside .accomodation__content {
        align-items: end;
        flex-wrap: unset;
    }
    .accomodation.accomodation--inline .accomodation__content > div {
        margin: 15px;
    }
    aside .card__content {
        padding: 0px 0px 0px 10px;
        width: 140px;
        margin: 0; 
    }
    aside .card__text {
        padding-bottom: 5px;
    }    
}
@media (max-width: 768px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    nav li {
        border-bottom: 3px solid transparent;
        
    }

    nav li:hover {
        border-bottom: solid #0065FC;
        color: #0065FC;
        border-top: 3px solid transparent;
    }
    .search-form {
        width: 100%;
    }
    .search-form form button {
        width: 60px;
    }
    .search-form .search-text {
        display: none;
        width: 80px;
    }
    .fa-solid.fa-magnifying-glass {
        background-color: #0065FC;
        display: initial;
    }
    #filters {
        flex-wrap: wrap;
    }
    #filters > h3 {
        width: 100%;
    }
    #filters  ul {
        width: 600px;
    }
    #filters li {
        margin: 10px;
    }
    #filters li  span {
        width: 200px;
        height: 40px;
        box-sizing: border-box;
        align-items: center;
    }
    
    #accomodation {
        display: flex;
        flex-direction: column;
    }
    #accomodation section {
        width: 100%;
        box-sizing: border-box;
    }
    .accomodation {
        flex-wrap: unset;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 255, 255);
        
    }
    .accomodation__content {
        flex-direction: column;
    }
    .accomodation__content > div {
        width: 100%;
        
    }
    .accomodation__cta {
        display: none ;
    }
    #accomodation aside {
        order: 1;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 0px;
        height: 50%;
    }
    aside .accomodation__content div a {
        width: 100%;
    }
    .card.card--inline .card__media {
        width: 200px;
    }
    #accomodation section {
        order: 2;
        height: 50%;
    }
    .accomodation.accomodation--inline .accomodation__content {
        flex-direction: column;
    }
    .accomodation.accomodation--inline {
        height: auto;
        box-sizing: border-box;
    }
    .activity__content {
        flex-direction: column;
    }
    .activity__content > div {
        width: 100%;
        margin: 0 0px 40px 0;
        height: 270px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    footer > ul {
        padding: 0;
        margin: 0;
    }
    footer > ul > li {
        display: flex;
        justify-content: center;
    }
    
}
