@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');


/*GENERIQUE*/
* {
    font-family: "Raleway", "sans-serif";
    color: #242424;
    box-sizing: border-box;
}

body {
    margin-left: 4%;
    margin-right: 4%;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

h3 {
    font-weight: 700;
}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

/* HEADER */
nav {
    display: flex;
    flex-wrap: wrap;
}

span {
    font-weight: bold;
}

nav a {
    width: auto;
    padding: 20px;
}

nav ul {
    display: flex;
    width: 33%;
    margin: 0px;
}

nav li {
    display: flex;
    margin-right: 10%;
    align-items: center;
    padding: 10%;
    border-top: 3px solid transparent;
}

nav li:hover {
    border-top: solid #0065FC;
    color: #0065FC;
}

.logo {
    display: flex;
    align-self: center;
    margin-right: auto;
    height: 40px;
    object-fit: contain;
    font-size: small;
}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

/* TITLE */
#title {
    font-size: small;
    display: block;
}

h1 {
    font-size: x-large;
    display: flex;
}

h2 {
    font-size: initial;
    font-weight: 500;
    margin-bottom: 20px;
}

h1+h2 {
    display: flex;
}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

/*SEARCH BAR */
.search-form {
    width: 35%;
    padding-bottom: 2%;
}

input::placeholder {
    color: #141414;
}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

.search-form form i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(212 212 212 / 34%);
    width: 50px;
    padding: 20px;
    object-fit: contain;
    font-size: initial;
}

.search-form form input {
    padding: 10px;
    border: 1px solid rgb(241, 240, 240);
    border-left: transparent;
    font-weight: bold;
    font-size: large;
    width: 60%;
}

.search-form form button {
    border: transparent;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    color: aliceblue;
    width: 35%;
    font-size: large;
}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

.search-form form {
    display: flex;
    width: 100%;
    height: 60px
}

/* FILTER */
#filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


#filters>p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#filters li {
    display: inline-block;
    margin: 0;

}

#filters li span {
    display: flex;
    border: 2px solid #9d9d9d4f;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
    opacity: 1.02;
}

#filters li a {
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: #343434;
    font-weight: bold;
}

#filters li i {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    border-radius: 30px;
    background-color: #eafdff;
    margin: -2px;
    color: #0065FC;
}

#filters ul li span:hover {
    background-color: #0065fc8c;
    transform: scale(1.01);
}

#information ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0;
}

#information>ul>li:nth-child(1) {
    height: 26px;
    width: 26px;
    border: solid 3px rgb(241, 240, 240);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}

#information>ul>li:nth-child(2) {
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#information>ul>li:nth-child(1)>i {
    color: #0065FC;
    font-weight: 800;
    font-size: medium;
}


/* ACCOMODATION */
#accomodation {
    display: flex;
    margin: 0 -20px;
}
#accomodation > section,
#accomodation > aside {
    padding: 0 20px;
}
#accomodation > section {
    width: 70%;
}
#accomodation > aside {
    width: 30%;
}

.accomodation {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(207, 207, 207, 0.641);
    border-radius: 20px;
    padding: 30px;
}
.accomodation .column {
    flex-direction: column;
}
.accomodation .column .c-card__media {
    width: 100%;
}

.accomodation__title {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
}
.accomodation__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.accomodation__content > div {
    width: 33%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.accomodation__cta {
    font-weight: bold;
    border: transparent;
    background-color: rgb(237 222 222 / 64%);
    
}


@media (max-width: 992px) {}
@media (max-width: 768px) {}


/* ACCOMODATION INLINE*/
.accomodation.accomodation--inline .accomodation__content {
    flex-direction: column;
    margin: 0;
}
.accomodation.accomodation--inline .accomodation__content > div {
    width: 100%;
    padding: 0;
    height: 180px;
}
@media (max-width: 992px) {}
@media (max-width: 768px) {}

aside .card__text {
    padding-bottom: 30px;
}

.fa-chart-line {
    color: #0065FC;
}

/* cards */
.card {
    border-radius: 20px;
    padding: 8px;
    background-color: white;
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.2);
}
.card__media {
    display: block;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 170px;
}
.card__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__content {
    padding: 10px;
}
.card__title,
.card__text {
    display: block;
    margin-bottom: 10px;
}
.card__title {
    
    font-weight: 700;
}
.card__text {
    font-size: 15px;
    font-weight: 500;
}
@media (max-width: 992px) {}
@media (max-width: 768px) {}


/* CARD INLINE */
.card.card--inline {
    display: flex;
    
}
.card.card--inline .card__media {
    border-radius: 20px 0 0 20px;
    width: 100px;
    height: auto;
}



/* STARS */
.stars .fa-solid.blue {
    color: #0065FC;
}

.stars .fa-solid.grey {
    color: #6d6d6d;
}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

/* ACTIVITIES */
#activities {
    width: 100%;
}  

#activities section {
    display: block;
}

.activities {
    display: flex;
    width: 100%;
}

.activity__content {
    display: flex;
}

.activity__content > div {
    width: 25%;
    margin: 20px;
    height: 445px;
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    
}

.accomodation__title {
    font-weight: 700;
    
}

.activity__content  a {
    height: 100%;

}

.activity__content .card__media {
    height: 85%;
}
.card__content {
    margin: 10px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: lightgrey;
    flex-direction: row;
    justify-content: space-around;
}

footer ul {
    margin-right: 10px;
}

footer li {
    padding: 5px;
}

footer ul li h3 {
    font-weight: bold;

}

@media (max-width: 992px) {}
@media (max-width: 768px) {}

