.card {
    &__media {
        img {
            width: 100%;
        }
    }
    &__content {
        background-color: red;
    }
    &__title {
        color: pink;
    }
    &__text {
        color: brown;
    }
}